.formular{
    
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        border:1px;
        border-radius: 5%;
        border-style: solid;
        background-color: #fbd37b;
        margin:20px 5% 20px 5%;
        padding:25px 0 20px 10px;
    
}
.submitButton{
        width: 100px;
        margin-left: 0;
        font-weight: bold;
}